<p>Ask your coach anything</p>
<form action="/answer" data-turbo="false">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input type="text" name="question" class="form-control mb-2" id="inlineFormInput" placeholder="Alors ?">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2"  value="Ask">Ask !</button>
    </div>
  </div>
</form>
